* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden; /* Prevent body scrolling */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: #3a83d0; bg-primary color */
  overflow: hidden; /* Prevent container scrolling */
  /* padding-bottom: 50px; */
  
}

.content {
  width: 100%;
  max-width: 800px;
  max-height: 90vh; /* Adjust as needed */
  overflow-y: auto; /* Allow vertical scrolling within the content */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.btn {
  white-space: nowrap;
}

@media (max-width: 576px) {
  .header h3 {
    font-size: 1.25rem;
    text-align: center;
    width: 100%;
    margin-top: 10px;
  }

  .header .btn {
    margin-bottom: 10px;
  }

  .table thead {
    display: none;
  }

  .table tbody tr {
    display: block;
    margin-bottom: 10px;
  }

  .table tbody td {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid #dee2e6;
  }

  .table tbody td::before {
    content: attr(data-label);
    flex-basis: 50%;
    text-align: left;
    font-weight: bold;
  }

  .d-flex {
    display: flex;
    flex-direction: column;
  }

  .btn {
    width: 100%;
  }
}
